<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923263445137-b48hqik5dsnqjc6ablcbs1u29h93j4dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923263445137-b48hqik5dsnqjc6ablcbs1u29h93j4dg</string>
	<key>API_KEY</key>
	<string>AIzaSyAw9oFTB3xrD4sHhMYKllpF7etFIeden8U</string>
	<key>GCM_SENDER_ID</key>
	<string>923263445137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ugur.uilearningApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-536c1</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-536c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923263445137:ios:e67ebf47555ffcba083730</string>
</dict>
</plist>